.cartContainer{
  display: flex;
  padding: 2vw;
  gap: 1vw;
  background-color: rgb(176, 194, 196);
}

.cartContainer .savedBlock,.CartSuggestion{
  height: auto;
  background-color: white;
}

.cartblock{
  display: flex;
  width: 85%;
  flex-direction: column;
  gap: 1vw;
  justify-content: space-between;
}

.CartSuggestion{
  border-radius: 0.5vw;
}

.suggestionLayout{
  display: flex;
  align-items: center;
}
.suggestionLayout .aboutProductBlock p:nth-child(1){
 color: rgba(1, 134, 89, 0.89);
}
.suggestionLayout .aboutProductBlock p:nth-child(2){
  color: rgb(228, 102, 12);
}

.suggestionLayoutBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vw;
  padding-top: 0.5vw;
}