.EmptyBlockContainer{
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.5vw;
}
.EmptyBlockContainer img{
  height: 20vw;
}

.cartDescriptionBlock p{
  text-decoration: none;
  color: rgb(122, 215, 184);
}