.MobileSpecificationContainer{
  display: flex;
  width:30vw;
  padding: 0.5vw;
}

.MobileSpecificationContainer div{
  width: 10vw;
}

.MobileSpecificationContainer ul li{
  list-style: none;
  padding: 0.2vw;
}

.MobileSpecificationContainer ul{
  padding: 0px;
}

.MobileSpecificationBlock ul li{
 font-weight: bolder;
}