.OfferBlock {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: 9vw;
  width: 30vw;
  padding: 0.2vw;
}

.OfferBlock .offerHeader {
  display: flex;
  gap: 0.2vw;
  align-items: center;
}

.offerHeader span{
  font-size: 2vw;
  color: black;
}

.offerHeader{
  font-weight: bold;
  font-size: 1.1vw;
}

.OfferContainer {
  display: flex;
  flex-direction: column;
  height: 6vw;
  width: 9vw;
  border-radius: 0.3vw;
  border: 1px solid rgb(195, 194, 194);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.OfferContainer{
 padding: 3px;
}

.OfferContainer span:nth-child(1){
  padding-bottom: 3px;
  font-weight: bolder;
}

.OfferContainer span:nth-child(2){
  color: rgb(6, 193, 165);
}

.OfferContainer p{
  height: 100%;
  width: 100%;
  overflow: hidden;        /* Hide the overflowing content */
  white-space: nowrap;     /* Prevents text from wrapping */
  text-overflow: ellipsis; /* Shows ellipsis for truncated content */
} 

.offerCategoryBlock{
  display: flex;
  align-items: center;
  gap:0.5vw;
}