.StorageContainer{
 display: flex;
 /* align-items: center; */
 justify-content: space-between;
 flex-wrap: wrap;
 width:30vw;
 height:auto;
}

.StorageBlock{
  height: 1vw;
  padding: 0.6vw;
  border: 1px solid gray;
  border-radius: 0.4vw;
}

.StorageBlock:active{
  border:2px solid rgb(3, 116, 110);
}